.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p, a, button {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Bitter', serif;
  font-weight: 800;
  color: #5E3926;
}

.text-color-earth {
  color: #5E3926;
}

.green {
  color: #55822D !important;
}

.text-brown {
  color: #5E3926;
}

.border-brown {
  border-color: #5E3926;
}

.label {
  color: #5E3926;
  font-family: 'Open Sans';
  font-weight: 800;
  text-align: center;
  margin-bottom: 10px;
}


nav {
}


.home-page {
  background: url('/farm-settingv2.png');
  background-size: cover;
  margin-top: -90px;
}

.home-page .container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 12%;
}

.home-page .hero-section {
}

.carrotImg {
  flex: 0.2;
}

.carrotImg img {
  animation: flyingKarl 6s infinite;
}

@keyframes flyingKarl {
  from {
    transform: scale(1) translate3D(0, 0, 0) rotate(2deg);
  }

  50% {
    transform: scale(.9) translate3D(10px, 15px, 10px) rotate(4deg);
  }

  to {
    transform: scale(1) translate3D(0, 0, 0) rotatet(2deg);
  }
}

.headlineContainer {
  flex: 0.8;
  display: flex;
  align-items: left;
  flex-direction: column;
  padding-left: 8%;
}

.headlineContainer h1 {
  font-size: 48px;
}

.cta {
  width: 300px;
  font-size: 20px;
  font-family: 'Bitter', serif;
  background-color: #55822D;
  color: #fff;
  padding: 30px;
  border-radius: 8px;
  font-weight: 800;
}

.cta-light-green {
  background-color: #82B43E;
}



.lds-heart {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  transform: rotate(45deg);
  transform-origin: 40px 40px;
}
.lds-heart div {
  top: 32px;
  left: 32px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #47bb78;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 32px;
  height: 32px;
  background: #47bb78;
}
.lds-heart div:before {
  left: -24px;
  border-radius: 50% 0 0 50%;
}
.lds-heart div:after {
  top: -24px;
  border-radius: 50% 50% 0 0;
}
@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

.ais-GeoSearch, .ais-GeoSearch-map {
  height: 100%;
}
